.footer-content {
    @include default-center;
    .footer-link {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        padding: 20px;
        .footer-column {
            width: 456px;
            dt {
                font-size: 14px;
                padding-bottom: 10px;
                padding-top:26px;
            }
            dd {
                font-size: 12px;
                line-height: 26px;
                color: #666;

            }
        }
    }
    .footer-copyright {
        padding-top: 20px;
        display: flex;
        color: #999;
        font-size: 12px;
        justify-content: space-between;
        .footer-copyright-left {
            p {
                padding: 6px 0;
                color: #999;
                a {
                    color: #999;
                    &:nth-child(2) {
                        margin: 0 12px;
                        color: #999;
                    }
                }
               
            }
            
        }
        .footer-copyright-right {
            text-align: right;
            
            a {
                color: #999;
            }
            img {
                vertical-align: middle;
            }
            .footer-copyright-cert {
                display: flex;
                .bus-license {
                    img {
                        width: 38px;
                        height: 38px;
                    }
                }
                .sp-ft--record {
                    display: inline-block;
                    overflow: hidden;
                    text-indent: -1000px;
                    height: 38px;
                    background-image: url(https://s0.meituan.net/bs/fe-web-meituan/6df4aa7/img/sprites/footer.png);
                    background-repeat: no-repeat;
                    margin-right: 2px;
                }
            }
        }
    }
    
       
        // img {
        //     vertical-align: middle;
        //     &.beianicon {
        //         width: 15px; 
        //         height: 15px;
        //     }
        //     &.beianicon {
        //         width: 15px; 
        //         height: 15px;
        //     }
            
        // }
        // a.bus-license {
        //    img {
        //     width: 38px;
        //     height: 38px;
        //    }
        //    p {
        //        display: inline;
        //    }
        // }
    a {
        color: #666;
        text-decoration: none;
        &:hover {
            color: #fe8c00;
        }
    }
}