.header-bar {
    overflow: none;
    background-color: #f8f8f8;

    .header-top-bar {
        @include default-center;
        display: flex;
        justify-content: space-between;
    }

    .header-bar-position {
        height: 42px;
        line-height: 42px;

        .current-city {
            color: #666;
        }

        .change-city {
            background: #F4F4F4;
            border: 1px solid #E5E5E5;
            border-radius: 2px;
            color: #666;
            margin: 0 4px;
            padding: 0 2px
        }

        .near-city {
            display: inline-block;

            .city-guess {
                margin: 0 4px;
            }
        }

        .user-entry {
            display: inline-block;

            .user-up {
                color: #FE8C00;
                margin: 0 8px 0 12px
            }
        }
    }

    .header-bar-nav {
        // float: right;

        ul {
            display: flex;

            li {
                width: 78px;
                line-height: 40px;
                text-align: center;
                position: relative;
                height: 40px;

                &.list:hover {
                    background-color: #fff;
                    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

                    .sub-container {
                        display: flex;
                    }

                    dl {
                        display: block;
                    }
                }

                dl {
                    background-color: #fff;
                    display: none;
                    position: absolute;
                    width: 100%;
                    right: 0px;
                    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

                    &.my-mt {
                        z-index: 200;
                    }
                }

                dl.merchant {
                    width: 140%;
                }

                .sub-container {
                    position: absolute;
                    right: 0px;
                    top: 40px;
                    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                    z-index: 999;
                    width: 1190PX;
                    display: flex;
                    display: none;

                    dl {
                        position: static;
                        box-shadow: none;
                    }

                    dl.hotel {
                        width: 300px;

                        dt {
                            text-align: center;
                        }

                        dd {
                            width: 33%;
                            float: left;
                        }
                    }


                    dl.movie {
                        width: 180px;
                    }

                    dl.food {
                        width: 260px;
                    }

                    dl.app {
                        width: 360px;

                        dd {
                            float: left;
                            margin-top: 20px;

                            img {
                                width: 70px;
                            }
                        }
                    }
                }
            }
        }


    }

    .header-box {
        background-color: #fff;

        .header-bar-seach {
            @include default-center;
            background-color: #fff;
            display: flex;
            height: 160px;

            .logo {
                display: inline-block;
                width: 126px;
                height: 46px;
                padding-top: 36px;
                margin-right: 130px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .search-input {
                width: 550px;
                margin: 36px;
                margin-bottom: 0;
                position: relative;

                input {
                    outline: none;
                    width: 550px;

                    &:focus {
                        border: 1px solid #DCDFE6;
                    }

                }

                button {
                    position: absolute;
                    right: 0;
                    width: 80px;
                    background-color: #FFC300;
                    border: 1px solid #FFC300;
                }



                .relevance {
                    position: absolute;
                    width: 260px;
                    top: 39px;
                    left: 0px;
                    padding-top: 2px;
                    line-height: 26px;
                    z-index: 200;
                    background-color: #fff;

                    border: 1px solid #ccc {
                        top: none;
                    }

                    li {
                        background-color: #fff;
                        width: 100%;
                        padding-left: 15px;
                        box-sizing: border-box;
                        cursor: pointer;

                        &:hover {
                            background-color: #CCC;

                            a {
                                color: #FE8C00;
                                display: inline-block;
                                height: 100%;
                                width: 100px;
                            }
                        }
                    }
                }


            }

            .recommend {
                display: flex;
                margin-left: 40px;

                li {
                    padding: 10px;
                }
            }
        }
    }


    a {
        color: #999;
        text-decoration: none;

        &:hover {
            color: #FE8C00;
        }
    }
}